<div class="calendar">
  <p>
    <label for="colls">Colls</label>
    <input id="colls" type="text" [(ngModel)]="colls">
    <label for="cells">Cells</label>
    <input id="cells" type="text" [(ngModel)]="cells">
    <button class="btn" (click)="loadData()">Load table</button>
  </p>
  <table *ngIf="isLoaded">
    <tr>
      <th *ngFor="let day of days" class="day-header" (click)="dayHeaderClicked(day)">
        {{day}}
      </th>
    </tr>
    <tr *ngFor="let hour of hours">
      <td *ngFor="let day of days" class="hour-cell">
        <calendar-cell [hour]="hour" [day]="day"></calendar-cell>
      </td>
    </tr>
  </table>
</div>
